services:
  checkmk-ts:
    image: tailscale/tailscale:latest
    hostname: checkmk
    environment:
      - TS_AUTHKEY=tskey-auth-kw7bPWvda611CNTRL-wJUcNhM265MajTLrdzE54MdUkuvafEhve #Update Key from portal#
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_SERVE_CONFIG=/config/checkmk.json
      - TS_USERSPACE=true
    volumes:
      - /mnt/ssd1/appdata/checkmk/ts-config:/config
      - /mnt/ssd1/appdata/checkmk/ts-state:/var/lib/tailscale
    # Start tailscaled, bring link up, load serve config, keep alive
    #command: >
     # sh -c "
      #tailscaled --state=${TS_STATE_DIR}/tailscaled.state --socket=/run/tailscale/tailscaled.sock &
      #sleep 2 &&
      #tailscale up --hostname=${HOSTNAME} --accept-routes --ssh &&
      # Apply serve config if present
      #if [ -f ${TS_SERVE_CONFIG} ]; then
      #  tailscale serve --apply ${TS_SERVE_CONFIG};
      #fi &&
      # Keep container running
      #tail -f /dev/null
      #"
    restart: unless-stopped

  checkmk-server:
    container_name: checkmk_server
    image: checkmk/check-mk-raw:2.3.0p35
    network_mode: "service:checkmk-ts"
    environment:
      - CMK_SITE_ID=check_mk
      - CMK_PASSWORD=Welcome@123#
      - CMK_LIVESTATUS_TCP=on
      # Optional: change Apache port inside container if you like
      - APACHE_TCP_PORT=5000
    volumes:
      - /mnt/ssd1/data/checkmk/checkmk-sites:/omd/sites
      - /mnt/ssd1/data/checkmk/checkmk-etc:/etc/check_mk
    restart: unless-stopped